# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.moved-aside
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Emacs lock files
.#*
ideas.md
